@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

h1 {
    @apply text-[64px] sm:text-[96px] md:text-[128px] lg:text-[150px] font-semibold leading-[46px] sm:leading-[69px] md:leading-[93px] lg:leading-[109px] tracking-tighter;
}

h2 {
    @apply text-[32px] sm:text-[48px] md:text-[56px] lg:text-[64px] font-semibold leading-tight tracking-tighter;
}

h3 {
    @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] font-semibold leading-tight tracking-tighter;
}

.link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -.4em;
        left: 50%;
        right: 50%;
        height: 2px;
        background: currentColor;
        transition: all ease .5s;
    }

    &:hover:after {
        left: 0;
        right: 0;
    }
}

.alignFull {
    @apply w-screen mx-[calc(49.3%_-_50vw)];
}