@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.codingRectangle{
    @apply absolute -right-5 -bottom-2 bg-black w-[25px] h-[3px];
    @apply sm:absolute sm:-right-5 sm:-bottom-2 sm:bg-black sm:w-[30px] sm:h-[4px];
    @apply md:absolute md:-right-7 md:-bottom-2 md:bg-black md:w-[35px] md:h-[5px];
}

h1 {
    @apply font-semibold leading-none select-none;
    @apply text-[25px];
    @apply sm:text-[40px];
    @apply md:text-[45px];
}

h2 {
    @apply font-extrabold leading-none select-none relative w-fit;
    @apply text-[20px];
    @apply sm:text-[25px];
    @apply md:text-[30px];

    &.borderRight {
        &::after {
            @apply content-[''] absolute -bottom-5 right-0 w-[90px] h-[5px] sm:h-[6px] md:h-[7px] bg-black;
        }
    }
    &.borderLeft {
        &::after {
            @apply content-[''] absolute -bottom-5 left-0 w-[90px] h-[5px] sm:h-[6px] md:h-[7px] bg-black;
        }
    }
    &.borderMiddle {
         &::after {
             @apply content-[''] absolute -bottom-5 left-1/2 w-[90px] h-[5px] sm:h-[6px] md:h-[7px] bg-black -translate-x-1/2;
         }
     }
}

h3 {
    @apply font-semibold;
    @apply text-[35px];
}

.link {
    z-index: 99;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid black;
        bottom: .1em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.alignFull {
    @apply w-screen mx-[calc(50%_-_50vw)];
}