@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

h1 {
    @apply text-[150px] font-semibold leading-[128px] tracking-tighter;
}

h2 {
    @apply text-[64px] font-semibold leading-[128px] tracking-tighter;
}

h3 {
    @apply text-[32px] font-semibold leading-[128px] tracking-tighter;
}

.link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -.4em;
        left: 50%;
        right: 50%;
        height: 2px;
        background: currentColor;
        transition: all ease .5s;
    }

    &:hover:after {
        left: 0;
        right: 0;
    }
}

.alignFull {
    @apply w-screen mx-[calc(49.3%_-_50vw)];
}